// Helpers

.marginTop20 {
  margin-top: 20px;
}

.marginTop40 {
  margin-top: 40px;
}

.marginTop7 {
  margin-top: 7px;
}

.padRight60 {
  padding-right: 60px !important;
}

.padRight10 {
  padding-right: 10px;
}

.padLeft50 {
  padding-left: 50px;
}

.padBottom10 {
  padding-bottom: 10px;
}

.padBottom25 {
  padding-bottom: 25px;
}

.marginTopNeg10 {
  margin-top: -10px;
}

.marginBottom15 {
  margin-bottom: 15px;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.displayInline {
  display: -webkit-inline-flex;
  display: inline-flex;
  vertical-align: middle;
}

.noPadding {
  padding: 0px;
}

.noMargin {
  margin: 0px !important;
}

.marginTopN4 {
  margin-top: -4px;
}

.italicText {
  font-style: italic;
}

a .fa-caret-right {
  vertical-align: text-bottom;
}

.smallText {
  font-size: 0.75em;
}

.abs-divider {
  position: absolute;
  top: 0px;
  left: -17px;
}

.noTextTransform {
  text-transform: none !important;
}
