[Unit]
Description=Rollerd - Coreroller Server
After=docker.service postgres.service
Requires=docker.service postgres.service

[Service]
User=core
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill rollerd
ExecStartPre=-/usr/bin/docker rm rollerd
ExecStart=/usr/bin/docker run --name rollerd \
    --hostname local-rollerd \
    --link postgresqld:postgresqld \
    -p 8000:8000 \
    coreroller/rollerd

ExecStop=/usr/bin/docker stop rollerd
